In [2]:
import numpy as np
import pandas as pd

In [9]:
mylist = ["a","b","c","d"]
myarr = np.array([1,2,3,4])
mydict = {1:"a",2:"b",3:"c",4:"d"}

In [10]:
myarr

array([1, 2, 3, 4])

In [12]:
pd.Series(mylist,myarr)

1    a
2    b
3    c
4    d
dtype: object

In [13]:
pd.Series(mydict)

1    a
2    b
3    c
4    d
dtype: object

In [6]:
np.random.seed(101)

In [8]:
df = pd.DataFrame(np.random.randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])

In [9]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [10]:
df['W'] > 0

A     True
B    False
C     True
D    False
E    False
Name: W, dtype: bool

In [11]:
df > 0

       W      X      Y      Z
A   True   True  False  False
B  False   True   True   True
C   True   True   True   True
D  False  False  False   True
E  False   True   True   True

In [15]:
resultdf = df[df['Z']>0]

In [16]:
resultdf

          W         X         Y         Z
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [21]:
df[(df['Z']>0) & (df['W']<0)]

          W         X         Y         Z
B -0.134841  0.390528  0.166905  0.184502
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [22]:
(df['Z']>0) & (df['W']<0)

A    False
B     True
C    False
D     True
E     True
dtype: bool

In [24]:
newind =[1,2,3,4,5]
df["newind"] = newind
df

          W         X         Y         Z  newind
A  0.302665  1.693723 -1.706086 -1.159119       1
B -0.134841  0.390528  0.166905  0.184502       2
C  0.807706  0.072960  0.638787  0.329646       3
D -0.497104 -0.754070 -0.943406  0.484752       4
E -0.116773  1.901755  0.238127  1.996652       5